<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Surveys</title>
  </head>
  <body>
    <h1>Survey Homepage</h1>
    <p>Click on the button below if you want to take a survey.</p>
    <form action="/satisfaction_survey">
      <button typ="submit">Customer Satisfaction Survey</button>
    </form>
    <br />
    <form action="/personality_quiz">
      <button typ="submit">Personality Quiz</button>
    </form>
  </body>
</html>
