<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Survey</h1>
    <p>
      Answers the multiple choice questions below by clicking the radial buttons
      or
      <a href="/">Return to Homepage</a>.
    </p>
    {% for question in questions %}
    <form>
      <p>{{question}}</p>
      {% for answer in question %}
      <input type="radio" id="{{answer}}" name="answer" value="{{answer}}" />
      <label for="{{answer}}">{{answer}}</label>
      {% endfor %}
    </form>
    {% endfor %}
  </body>
</html>
